@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: gray;
}

.loadBtn-container {
  display: flex;
  justify-content: center;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
a:visited {
  outline: none;
  text-decoration: none;
  color: inherit;
}
